@font-face {
    font-family: 'UbuntuBold';
    src: local('UbuntuBold'),
         url('./fonts/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'UbuntuMedium';
    src: local('UbuntuMedium'),
         url('./fonts/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'UbuntuRegular';
    src: local('UbuntuRegular'),
         url('./fonts/Ubuntu-Regular.ttf') format('truetype');
}
